/* This css file is for index.html */
body { margin: 0; }
main {
	width: 50vw;
	height: 50vh;
	margin: 3vw auto;
	border: 1px solid black;
}
main+div {
	width: 50vw;
	height: auto;
	margin: 0 auto;
}
main+div input[type=text] {
	width: 80%;
	height: 3vw;
	font-size: 2vw;
	line-height: 3vw;
	box-sizing: border-box;
}
main+div input[type=submit] {
	width: 19%;
	height: 3vw;
	font-size: 2vw;
	line-height: 2vw;
	box-sizing: border-box;
}
